<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>ขอขอบคุณที่ให้ความสนใจ สมัครใช้บริการของเรา</title>
    <meta name="description" content="ขอขอบคุณที่ให้ความสนใจ สมัครใช้บริการของเรา">
    <meta name="keywords" content="ขอขอบคุณที่ให้ความสนใจ สมัครใช้บริการของเรา">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://www.paysolutions.asia/assets/images/favicon-payso.png" type="image/gif"
        sizes="16x16">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdn.tailwindcss.com"></script>

     <!-- Socila Tag -->
    <script src="https://cdn.sable.asia/tracking-64143fe1b25d7a2551355177.js" data-cfasync="false"></script>
    <script src="https://cdn.sable.asia/widget-social-64143fe1b25d7a2551355177.js" data-cfasync="false"></script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T9X4LFG');</script>
    <!-- End Google Tag Manager -->
    <link
        href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T9X4LFG" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="text-center xl:w-[100%] w-[100%] mx-auto border shadow-2xl flex flex-col">
        <div class="pb-12">
            <img src="https://cdn.paysolutions.io/payment-img/img-register-complete@2x.png" alt="logo"
                class="max-lg:w-[30%] w-[20%] mx-auto mt-10 mb-6">
            <p class="lg:text-[28px] font-[700] mb-1 text-[20]">ขอขอบคุณ</p>
            <p class="lg:text-[18px] text-[16px]">เจ้าหน้าที่จะติดต่อกลับไปโดยเร็ว</small>
            <h3 class="lg:text-[18px] text-[16px] font-[700]">THANK YOU, OUR TEAM WILL CONTACT YOU SOON.</h3>
            <button id="countdown-btn" onclick="redirectNow()"
                class="mt-4 px-4 py-2 bg-[#014BFD] text-white rounded lg:text-[18px] text-[14px]">กลับสู่หน้าหลัก (5
                วิ)</button>
        </div>

        <div class="bg-[#0524a7] pt-12 pb-6">
            <div class="flex justify-around xl:justify-center xl:gap-12 mb-6 flex-col md:flex-row">
                <div>
                    <img src="https://cdn.paysolutions.io/payment-img/rgb-logo@1x.png" alt="logo"
                        class="md:w-40 w-24 mx-auto " />

                </div>

                <div class="flex md:justify-start md:gap-4 gap-2 mb-4 flex-col justify-center">
                    <div class="md:text-left text-center">
                        <p class="text-[16px] text-[white] mb-1">Contact</p>
                    </div>

                    <div class="flex justify-center">
                        <img src="https://cdn.paysolutions.io/payment-img/phone.png" alt="" class="md:w-6 w-2 mr-2">
                        <span class="md:text-[16px] text-[11px]  text-[white]">
                            <a rel="nofollow" href="tel:028216163">02-821-6163</a> ,
                            <a rel="nofollow" href="tel:0901984800,">090-198-4800</a> ,
                            <a rel="nofollow" href="tel:0655249951">065-524-9951</a>
                        </span>
                    </div>
                    <div class="flex gap-4 mb-4 md:justify-start justify-center">
                        <a rel="nofollow" href="https://www.facebook.com/paysolutionsdotasia" target="_blank"><i><img
                                    class="text-[white] md:w-9 w-6"
                                    src="https://cdn.paysolutions.io/payment-img/ico-facebook-white1@2x.png"
                                    alt="facebook Pay Solution Asia บริการระบบชำระเงิน"></i></a>
                        <a rel="nofollow" href="https://www.instagram.com/paysolutions" target="_blank"><i><img
                                    class="text-[white] md:w-9 w-6"
                                    src="https://cdn.paysolutions.io/payment-img/ico-ig-white1@2x.png"
                                    alt="ig Pay Solution Asia บริการระบบชำระเงิน"></i></a>
                        <a rel="nofollow" href="https://line.me/R/ti/p/@PaySolutions" target="_blank"><i><img
                                    class="text-[white] md:w-9 w-6"
                                    src="https://cdn.paysolutions.io/payment-img/ico-line-white1@2x.png"
                                    alt="line Pay Solution Asia บริการระบบชำระเงิน"></i></a>
                        <a rel="nofollow" href="mailto:sales@paysolutions.asia" target="_blank"><i><img
                                    class="text-[white] md:w-9 w-6"
                                    src="https://cdn.paysolutions.io/payment-img/ico-email-white1@2x.png"
                                    alt="email Pay Solution Asia บริการระบบชำระเงิน"></i></a>
                    </div>
                </div>
            </div>


            <p class=" text-[white] md:text-xs text-[10px]">Copyright © 2023 Pay Solutions All Rights Reserved.</p>

        </div>

    </div>
</body>

<style>
    body {
        font-family: 'prompt';
    }
</style>

<script>

    function redirectNow() {
        window.location.href = 'https://www.paysolutions.asia/';
    }

    function countdownRedirect() {
        let countdown = 5;
        const countdownBtn = document.getElementById('countdown-btn');
        const interval = setInterval(() => {
            countdown--;
            countdownBtn.innerText = `กลับสู่หน้าหลัก (${countdown} วิ)`;
            if (countdown <= 0) {
                clearInterval(interval);
                window.location.href = 'https://www.paysolutions.asia/';
            }
        }, 1000);
    }

    // Start the countdown when the page loads
    window.onload = countdownRedirect;
</script>

</html>