<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>ขอขอบคุณที่ให้ความสนใจ สมัครใช้บริการของเรา</title>
    <meta name="description" content="ขอขอบคุณที่ให้ความสนใจ สมัครใช้บริการของเรา">
    <meta name="keywords" content="ขอขอบคุณที่ให้ความสนใจ สมัครใช้บริการของเรา">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://www.paysolutions.asia/assets/images/favicon-payso.png" type="image/gif"
        sizes="16x16">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Socila Tag -->
    <script src="https://cdn.sable.asia/tracking-64143fe1b25d7a2551355177.js" data-cfasync="false"></script>
    <script src="https://cdn.sable.asia/widget-social-64143fe1b25d7a2551355177.js" data-cfasync="false"></script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T9X4LFG');</script>
    <!-- End Google Tag Manager -->
    <link
        href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T9X4LFG" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="text-center xl:w-[65%] w-[100%] mx-auto border shadow-2xl">
        <div class=" pb-52">
            <img src="https://cdn.paysolutions.io/payment-img/Icon-fail-payment.svg" alt="logo"
                class="lg:w-[10%] w-[20%] mx-auto mt-24 mb-10">

            <p class="text-[25px]">เกิดข้อผิดพลาด กรุณาลองใหม่ !!!</small>
        </div>
        <div class="bg-[#0524a7] pt-10">
            <img src="https://cdn.paysolutions.io/payment-img/rgb-logo@1x.png" alt="logo"
                class="md:w-48 w-16 mx-auto " />
            <p class="text-[35px] text-[white] mb-1">Contact</p>
            <div class="flex justify-center items-center md:gap-4 gap-2 mb-4">
                <img src="https://cdn.paysolutions.io/payment-img/phone.png" alt="" class="md:w-8 w-4">
                <span class="md:text-[25px] text-[11px]  text-[white]">
                    <a rel="nofollow" href="tel:028216163">02-821-6163</a> ,
                    <a rel="nofollow" href="tel:0901984800,">090-198-4800</a> ,
                    <a rel="nofollow" href="tel:0655249951">065-524-9951</a>
                </span>
                <br>
                <br>
            </div>

            <div class="flex justify-center gap-8 mb-12">
                <a rel="nofollow" href="https://www.facebook.com/paysolutionsdotasia" target="_blank"><i><img
                            class="text-[white] md:w-9 w-6"
                            src="https://cdn.paysolutions.io/payment-img/ico-facebook-white1@2x.png"
                            alt="facebook Pay Solution Asia บริการระบบชำระเงิน"></i></a>
                <a rel="nofollow" href="https://www.instagram.com/paysolutions" target="_blank"><i><img
                            class="text-[white] md:w-9 w-6"
                            src="https://cdn.paysolutions.io/payment-img/ico-ig-white1@2x.png"
                            alt="ig Pay Solution Asia บริการระบบชำระเงิน"></i></a>
                <a rel="nofollow" href="https://line.me/R/ti/p/@PaySolutions" target="_blank"><i><img
                            class="text-[white] md:w-9 w-6"
                            src="https://cdn.paysolutions.io/payment-img/ico-line-white1@2x.png"
                            alt="line Pay Solution Asia บริการระบบชำระเงิน"></i></a>
                <a rel="nofollow" href="mailto:sales@paysolutions.asia" target="_blank"><i><img
                            class="text-[white] md:w-9 w-6"
                            src="https://cdn.paysolutions.io/payment-img/ico-email-white1@2x.png"
                            alt="email Pay Solution Asia บริการระบบชำระเงิน"></i></a>
            </div>

            <div class="py-4">
                <p class=" text-[white] md:text-xs text-[10px]">Copyright © 2023 Pay Solutions All Rights Reserved.</p>
            </div>
        </div>
    </div>
</body>

<style>
    body {
        font-family: 'prompt';
    }
</style>

</html>