<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;700&display=swap" rel="stylesheet">
    <style>
    </style>
</head>
<body style="font-family: 'Prompt', sans-serif;">
    <div style="background: #dcebefbf;">
        <div style="Margin:0px auto;max-width:600px">

            <!-- Header -->
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%">
                <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:30px 20px;text-align:left;vertical-align:top">
                            <img style="width: 100px;" src="https://ci3.googleusercontent.com/proxy/H--7htQWZKSezMI4L1-G1Pka8Fl8Yo4Q1ovCbbYc3AMlclXhlvWIdlisTbjdWl_4Mwpq6VNVvl_78bY5gOcA62c-cmmwI_Cnh8qqbQXVy0iKSYzbn6DunyQv58yUxQ=s0-d-e1-ft#https://se-payso-mail.s3-ap-southeast-1.amazonaws.com/logo-paysolutions.png">
                        </td>
                        <td style="direction:ltr;font-size:0px;padding:20px 20px;text-align:right;vertical-align:top">
                            <p style="font-size:14px;padding: 0;margin: 0;color: gray;">Customer Support</p>
                            <p style="font-size:14px;padding: 0;margin: 0;color: gray;">LINE :
                                <a style="color:#007bff" href="https://line.me/R/ti/p/@pay.sn" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://line.me/R/ti/p/@pay.sn&amp;source=gmail&amp;ust=1623383080430000&amp;usg=AFQjCNGQihQTEcCVXxb3WJNkBKC-2kDn-w">@pay.sn</a>
                            </p>
                            <p style="font-size:14px;padding: 0;margin: 0;color: gray;">Tel :
                                <a style="color:#007bff" href="tel:0662-515-2324" target="_blank">02-821-6163</a>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- TH -->
            <div style="background:rgba(0,74,255,1);background-color:rgba(0,74,255,1);Margin:0px auto;max-width:600px;height:3px;border-radius:3px"></div>
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%;background-color: white;">
                <tbody>
                    <tr>
                        <td style="font-size:0px;padding:25px 25px 25px 25px;word-break:break-word">
                            <span style="color:black;font-size:14px">
                                <b>เรียน TempID, {{.TempID}},</b>
                            </span>
                            <br>
                            <p style="font-size:14px;line-height: 20px;color: gray;margin-top: 50px;">
                                
                            </p>
                            <span style="font-weight:600;font-size:15px;color:#333333">
                                ขอบคุณที่ให้ความสนใจและสมัครใช้บริการระบบรับชำระเงิน Pay Soutions
                            </span>
                            <p style="font-size:14px;line-height: 20px;color: #333333;margin-top: 20px;">  จากการตรวจสอบและพิจารณาข้อมูลที่ท่านได้ส่งมา บริษัทฯ ขอแจ้งผลให้ทราบ ดังนี้ :</p>
                            <p style="font-size:14px;line-height: 20px;color: #333333;margin-top: 20px;">  <u>** ร้านค้าของท่านไม่ผ่านเกณฑ์ เนื่องจาก งบการเงินหรือสถานะประกอบของบริษัทไม่น่าเชื่อถือ</u></p>
                            <p style="font-size:14px;line-height: 20px;color: #333333;margin-top: 20px;"> เรายินดีที่จะพิจารณาอีกครั้ง หากท่านได้ทำการปรับปรุงและอัปเดตข้อมูลหน้าเว็บไซต์ หรือช่องทางการให้บริการมากขึ้น</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" style="background:#ffffff;background-color:#ffffff;width:100%;">
                <tbody>
                    <tr>
                        <td align="left" style="font-size:0px;word-break:break-word;padding:30px 25px 0px 25px">
                            <div style="background-color:rgb(217 219 222);Margin:0px auto 40px auto;max-width:600px;height:2px;border-radius:3px"></div>
                            <p style="font-size:14px;color: gray;line-height: 20px;">
                                ขอขอบคุณอีกครั้งที่ให้ความไว้วางใจเลือกใช้บริการของ Pay Solutions และเราหวังว่าจะได้ให้บริการท่านเร็ว ๆ นี้
                            </p>
                            <p style="font-size:14px;color: gray;line-height: 25px;">
                                ทีมงาน Pay Solutions <br>
                                Tel. <a href="tel:02-821-6163" target="_blank" style="text-decoration:none;">02-821-6163 ต่อ 2</a><br><br>
                                ทีมขาย :<br>
                                Mobile: <a href="tel:090-198-4800" target="_blank" style="text-decoration:none;">090-198-4800</a> | <a href="tel:065-524-9951" target="_blank" style="text-decoration:none;">065-524-9951</a> <br>
                                LINE@: <a href="https://line.me/R/ti/p/@PaySolutions" target="_blank" style="text-decoration:none;">@PaySolutions</a><br>
                                E-Mail: <a href="mailto:sales@paysolutions.asia" target="_blank" style="text-decoration:none;">sales@paysolutions.asia</a> <br><br>
                                
                                ทีมบริการลูกค้า : <br> 
                                Mobile: <a href="tel:096-976-5394" target="_blank" style="text-decoration:none;">096-976-5394</a> | <a href="tel:097-158-5855" target="_blank" style="text-decoration:none;">097-158-5855</a> <br>
                                LINE@: <a href="https://line.me/R/ti/p/@pay.sn" target="_blank" style="text-decoration:none;">@pay.sn</a><br>
                                E-Mail: <a href="mailto:support@paysolutions.asia" target="_blank" style="text-decoration:none;">support@paysolutions.asia</a> <br><br>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- EN -->
            <div style="background:rgba(0,74,255,1);background-color:rgba(0,74,255,1);Margin:60px auto 0px auto;max-width:600px;height:3px;border-radius:3px"></div>
            <div style="background:rgba(0,74,255,1);background-color:rgba(0,74,255,1);Margin:0px auto;max-width:600px;height:3px;border-radius:3px"></div>
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%;background-color: white;">
                <tbody>
                    <tr>
                        <td style="font-size:0px;padding:25px 25px 25px 25px;word-break:break-word">
                            <span style="color:black;font-size:14px">
                                <b>Dear TempID, {{.TempID}},</b>
                            </span>
                            <br>
                            <p style="font-size:14px;line-height: 20px;color: gray;margin-top: 50px;">
                                
                            </p>
                            <span style="font-weight:600;font-size:15px;color:#333333">
                                Thank you for your interest and for registering for the Pay Solutions payment system.
                            </span>
                            <p style="font-size:14px;line-height: 20px;color: #333333;margin-top: 20px;">  After our team has reviewed and considered the information you provided, we would like to inform you the following results :</p>
                            <p style="font-size:14px;line-height: 20px;color: #333333;margin-top: 20px;">  <u>** Your merchant did not meet our criteria because merchant approval denied due to non-compliance with serviceTerms.</u></p>
                            <p style="font-size:14px;line-height: 20px;color: #333333;margin-top: 20px;"> However, we would be happy to rseconsider if you update and improve your website or service channel information.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" style="background:#ffffff;background-color:#ffffff;width:100%;">
                <tbody>
                    <tr>
                        <td align="left" style="font-size:0px;word-break:break-word;padding:30px 25px 0px 25px">
                            <div style="background-color:rgb(217 219 222);Margin:0px auto 40px auto;max-width:600px;height:2px;border-radius:3px"></div>
                            <p style="font-size:14px;color: gray;line-height: 20px;">
                                Thank you for trusting Pay Solutions, and we hope to serve you soon.
                            </p>
                            <p style="font-size:14px;color: gray;line-height: 25px;">
                                Pay Solutions Team <br>
                                Tel. <a href="tel:02-821-6163" target="_blank" style="text-decoration:none;">02-821-6163 ต่อ 2</a><br><br>
                                Sales Team :<br>
                                Mobile: <a href="tel:090-198-4800" target="_blank" style="text-decoration:none;">090-198-4800</a> | <a href="tel:065-524-9951" target="_blank" style="text-decoration:none;">065-524-9951</a> <br>
                                LINE@: <a href="https://line.me/R/ti/p/@PaySolutions" target="_blank" style="text-decoration:none;">@PaySolutions</a><br>
                                E-Mail: <a href="mailto:sales@paysolutions.asia" target="_blank" style="text-decoration:none;">sales@paysolutions.asia</a> <br><br>
                                
                                Customer Support Team : <br> 
                                Mobile: <a href="tel:096-976-5394" target="_blank" style="text-decoration:none;">096-976-5394</a> | <a href="tel:097-158-5855" target="_blank" style="text-decoration:none;">097-158-5855</a> <br>
                                LINE@: <a href="https://line.me/R/ti/p/@pay.sn" target="_blank" style="text-decoration:none;">@pay.sn</a><br>
                                E-Mail: <a href="mailto:support@paysolutions.asia" target="_blank" style="text-decoration:none;">support@paysolutions.asia</a> <br><br>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>


            <!-- Footer -->
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%;padding: 20px 30% 0px 30%;">
                <tbody>
                    <tr>
                        <td align="center"  style="font-size:0px;padding:0px 0px 0px 0px;word-break:break-word; width:30px;">
                            <a href="https://www.facebook.com/paysolutionsdotasia" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/paysolutionsdotasia&amp;source=gmail&amp;ust=1623383080430000&amp;usg=AFQjCNE33cctzAy96nGB5YlIZ2zQaGJ-ZQ">
                                <img alt="" src="https://se-payso-mail.s3-ap-southeast-1.amazonaws.com/facebook.png">
                            </a>
                        </td>
                        <td align="center"  style="font-size:0px;padding:0px 0px 0px 0px;word-break:break-word; width:30px;">
                            <a href="https://line.me/R/ti/p/@PaySolutions" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://line.me/R/ti/p/@PaySolutions&amp;source=gmail&amp;ust=1623383080430000&amp;usg=AFQjCNEKfJPL45I3fve90kju0o9X2ncfUQ">
                                <img alt="" src="https://se-payso-mail.s3-ap-southeast-1.amazonaws.com/line@.png">
                            </a>
                        </td>
                        <td align="center"  style="font-size:0px;padding:0px 0px 0px 0px;word-break:break-word; width:30px;">
                            <a href="https://www.instagram.com/paysolutions" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/paysolutions&amp;source=gmail&amp;ust=1623383080430000&amp;usg=AFQjCNEuk01wumIemG-u7W_NgddBAqKpew">
                                <img alt="" src="https://se-payso-mail.s3-ap-southeast-1.amazonaws.com/instagram.png">
                            </a>
                        </td>
                        <td align="center"  style="font-size:0px;padding:0px 0px 0px 0px;word-break:break-word; width:30px;">
                            <a href="https://twitter.com/paysolutionsth" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/paysolutionsth&amp;source=gmail&amp;ust=1623383080430000&amp;usg=AFQjCNGFyfsUYs1AiKFjzRERgU0nayTEIg">
                                <img alt="" src="https://se-payso-mail.s3-ap-southeast-1.amazonaws.com/twitter.png">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%;padding:20px 0px 0px 0px;color: gray; font-size: 14px;">
                <tbody>
                    <tr>
                        <td align="center">
                            <p style="font-size:14px">Pay Solutions Co., Ltd.</p>
                            <p style="font-size:14px">
                                90 CW Tower Building B, Floor 25, Unit B2502, Ratchadaphisek Road, Huay Kwang Sub-district, Huay Kwang District, Bangkok 10310
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%;padding-left: 50px;padding-right: 50px;">
                <tbody>
                    <tr>
                        <td align="center" style="padding: 5px 0px 40px 0px">
                            <p style="font-size: 14px;color: gray;margin: 0px;">
                                Website:
                                    <a style="color:#007bff;font-size:14px" href="https://www.paysolutions.asia" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.paysolutions.asia&amp;source=gmail&amp;ust=1623383080430000&amp;usg=AFQjCNFH0sZEPnUnGUq7CuWGF8GfJdgM5w">www.paysolutions.asia</a>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>