<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;700&display=swap" rel="stylesheet">
    <style>
    </style>
</head>
<body style="font-family: 'Prompt', sans-serif;">
    <div style="background: #dcebefbf;">
        <div style="Margin:0px auto;max-width:600px">

            <!-- Header -->
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%">
                <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:30px 20px;text-align:left;vertical-align:top">
                            <img style="width: 100px;" src="https://ci3.googleusercontent.com/proxy/H--7htQWZKSezMI4L1-G1Pka8Fl8Yo4Q1ovCbbYc3AMlclXhlvWIdlisTbjdWl_4Mwpq6VNVvl_78bY5gOcA62c-cmmwI_Cnh8qqbQXVy0iKSYzbn6DunyQv58yUxQ=s0-d-e1-ft#https://se-payso-mail.s3-ap-southeast-1.amazonaws.com/logo-paysolutions.png">
                        </td>
                        <td style="direction:ltr;font-size:0px;padding:20px 20px;text-align:right;vertical-align:top">
                            <p style="font-size:14px;padding: 0;margin: 0;color: gray;">Customer Support</p>
                            <p style="font-size:14px;padding: 0;margin: 0;color: gray;">LINE :
                                <a style="color:#007bff" href="https://line.me/R/ti/p/@pay.sn" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://line.me/R/ti/p/@pay.sn&amp;source=gmail&amp;ust=1623383080430000&amp;usg=AFQjCNGQihQTEcCVXxb3WJNkBKC-2kDn-w">@pay.sn</a>
                            </p>
                            <p style="font-size:14px;padding: 0;margin: 0;color: gray;">Tel :
                                <a style="color:#007bff" href="tel:0662-515-2324" target="_blank">02-821-6163</a>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- TH -->
            <div style="background:rgba(0,74,255,1);background-color:rgba(0,74,255,1);Margin:0px auto;max-width:600px;height:3px;border-radius:3px"></div>
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%;background-color: white;">
                <tbody>
                    <tr>
                        <td style="font-size:0px;padding:25px 25px 25px 25px;word-break:break-word">
                            <span style="color:black;font-size:14px">
                                <b>เรียน ลูกค้าคนสำคัญ, {{.Name}},</b>
                            </span>
                            <br>
                            <p style="font-size:14px;line-height: 20px;color: gray;margin-top: 20px;">
                                ขอบคุณที่ให้ความสนใจและสมัครใช้บริการระบบรับชำระเงิน Pay Soutions กับเรา บริษัทได้รับข้อมูลการสมัครของท่านเรียบร้อยแล้ว ดังนี้
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table  border="0" cellpadding="0" cellspacing="0" style="background:#ffffff;background-color:#ffffff;width:100%;padding: 0px 25px 35px 25px;">
                <tbody>
                    <tr>
                        <td style="border: 1px solid #8080803d;padding: 15px;border-top-left-radius: 5px;border-top-right-radius: 5px;">
                            <p>
                                <span style="font-weight:500;font-size:14px;color:#333333">ข้อมูลร้านค้า &nbsp;</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #8080803d;padding: 15px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;">
                            <table style="font-size:14px;">
                                <tr>
                                    <td style="width: 40%;">TempID :</td>
                                    <td style="width: 60%;">{{.TempID}}</td>
                                </tr>
                                <tr>
                                    <td>ชื่อนามสกุล :</td>
                                    <td>{{.Name}}</td>
                                </tr>
                                <tr>
                                    <td>เบอร์โทรศัพท์ :</td>
                                    <td>{{.Mobile}}</td>
                                </tr>
                                <tr>
                                    <td>อีเมล :</td>
                                    <td>{{.Email}}</td>
                                </tr>
                                <tr>
                                    <td>ประเภทธุรกิจ :</td>
                                    <td>{{.CategoryTH}}</td>
                                </tr>
                                <tr>
                                    <td>เว็บไซต์  :</td>
                                    <td>{{.Website}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:0px;padding:25px 0px 25px 0px;word-break:break-word">
                            <br>
                            <p style="font-size:14px;line-height: 20px;color: gray;margin-top: 20px;">
                                Temp ID เป็นเพียงข้อมูลอ้างอิงในการสมัครบริการ และบริษัทจะติดต่อและส่งรายละเอียดเพิ่มเติมไปให้ท่านทางอีเมลเร็ว ๆ นี้
                            </p>
                            <br>
                            <p style="font-size:14px;line-height: 20px;color: gray;margin-top: 20px;">
                                โดยหลังจากท่านได้รับการอนุมัติการใช้งานตามนโยบายการให้บริการของบริษัทแล้ว จะได้รับ MerchantID (รหัสร้านค้า) เพื่อนำส่งเอกสารการสมัครเข้าระบบออนไลน์ต่อไป
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table  border="0" cellpadding="0" cellspacing="0" style="background:#ffffff;background-color:#ffffff;width:100%;padding: 0px 25px 35px 25px;">
                <tbody>
                    <tr>
                        <td style="border: 1px solid rgba(0,74,255,1);background-color:rgba(0,74,255,1);padding: 15px;border-top-left-radius: 5px;border-top-right-radius: 5px;">
                            <p>
                                <span style="font-weight:400;font-size:14px;color:#ffffff">ขั้นตอนการเปิดใช้งาน</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,74,255,1);padding: 10px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;">
                            <table border="0" cellpadding="0" cellspacing="0" style="background:#ffffff;background-color:#ffffff;width:100%;padding: 0px 0px 0px 0px;">
                                <tbody>
                                    <tr style="text-align:center;vertical-align:top;">
                                        <td style="width:33%">
                                            <img src="https://cdn.paysolutions.io/icon-email/icon-process-1.png" style="width:75px;">
                                            <p style="font-weight:400;font-size:14px;color:#000000">รอการพิจารณาร้านค้าและจัดเตรียมเอกสาร</p>
                                        </td>
                                        <td style="width:33%">
                                            <img src="https://cdn.paysolutions.io/icon-email/icon-process-2.png" style="width:75px;">
                                            <p style="font-weight:400;font-size:14px;color:#000000">เมื่อได้รับรหัสร้านค้า โปรดนำส่งเอกสารผ่านระบบ Pay Solutions Control</p>
                                        </td>
                                        <td style="width:33%">
                                            <img src="https://cdn.paysolutions.io/icon-email/icon-process-3.png" style="width:75px;">
                                            <p style="font-weight:400;font-size:14px;color:#000000">PaySolutions พิจารณาเอกสารและอนุมัติร้านค้าพร้อมลงนามสัญญาเปิดใช้งานระบบชำระเงิน</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" style="background:#ffffff;background-color:#ffffff;width:100%;">
                <tbody>
                    <tr>
                        <td style="font-size:0px;word-break:break-word;padding:0px 25px 10px 25px">
                            <span style="font-weight:600;font-size:17px;color:#333333">
                                เอกสารเพื่อทำสัญญาและเปิดใช้งานบริการ
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:0px;word-break:break-word;padding:15px 25px 10px 25px">
                            <span style="color:black;font-size:14px">
                                <b>- เอกสารเพื่อการสมัครเเบบนิติบุคคล</b>
                            </span>
                            <table border="0" cellpadding="0" cellspacing="0"  style="font-size:14px;padding-top:10px;">
                                <tbody>
                                    <tr>
                                        <td  style="padding:7px 0px 10px 0px;">
                                           <p><dd style="text-indent: -7%;">1. &nbsp;&nbsp;&nbsp; สำเนาหนังสือรับรองการจดทะเบียนบริษัทหรือห้างหุ้นส่วนจำกัด, หนังสือจัดตั้งห้างหุ้นส่วน สามัญ หรือหนังสือจัดตั้งคณะบุคคล, พร้อมวัตถุประสงค์โดยต้องจดทะเบียนมาแล้ว ไม่น้อยกว่า 6 เดือน* (คัดสำเนาไม่เกิน 6 เดือน) <B style="color: red;">เอกสารสำคัญ**</B></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:7px 0px 10px 0px;">
                                            <p><dd style="text-indent: -7%;">2. &nbsp;&nbsp;&nbsp; ข้อมูลเจ้าของ/ผู้มีอำนาจลงนาม (ทุกราย) <B style="color: red;">เอกสารสำคัญ**</B></p>
                                            <p><dd style="text-indent: 0%;">- สำเนาบัตรประจำตัวประชาชนของผู้มีอำนาจลงนาม</p>
                                            <p><dd style="text-indent: 0%;">- กรณีเป็นชาวต่างชาติใช้สำเนาหนังสือเดินทางและใบขออนุญาตทำงานภายในประเทศ (work permit) ที่ยังไม่หมดอายุ</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:7px 0px 10px 0px;">
                                            <p><dd style="text-indent: -7%;">3. &nbsp;&nbsp;&nbsp; ข้อมูลที่อยู่ของเจ้าของ/ผู้มีอำนาจลงนาม (ทุกราย) <B style="color: red;">เอกสารสำคัญ**</B></p>
                                            <p><dd style="text-indent: 0%;">- สำเนาทะเบียนบ้านของผู้มีอำนาจลงนาม</p>
                                            <p><dd style="text-indent: 0%;">- กรณีเป็นชาวต่างชาติใช้ที่อยู่ในประเทศเจ้าของสัญชาติและที่อยู่ปัจจุบันในประเทศไทย</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:7px 0px 10px 0px;">
                                            <p><dd style="text-indent: -7%;">4. &nbsp;&nbsp;&nbsp; ข้อมูลสำหรับการโอนเงิน  <B style="color: red;">เอกสารสำคัญ**</B></p>
                                            <p><dd style="text-indent: 0%;">- สำเนาหน้าสมุดบัญชีธนาคารที่มีข้อมูลชื่อบัญชี, เลขที่บัญชี ตรงตามสัญญาหลัก</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:7px 0px 10px 0px;">
                                            <p><dd style="text-indent: -7%;">5. &nbsp;&nbsp;&nbsp; หลักฐานเพื่อประกอบการพิจารณาเพิ่มเติม  <B style="color: red;">เอกสารสำคัญ**</B></p>
                                            <p><dd style="text-indent: 0%;">- ภาพสินค้าและหลักฐานการเป็นเจ้าของเว็บไซต์</p>
                                            <p><dd style="text-indent: 0%;">- แผนที่แสดงที่ตั้งของสถานประกอบการ</p>
                                            <p><dd style="text-indent: 0%;">- สัญญาเช่าพื้นที่ อายุไม่เกิน 6 เดือน (ถ้ามี)</p>
                                            <p><dd style="text-indent: 0%;">- กรณีสมัครในช่องทาง Social media โปรดแสดงหลักฐานการเป็นเจ้าของเพจ</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:7px 0px 10px 0px;">
                                            <p><dd style="text-indent: -7%;">6. &nbsp;&nbsp;&nbsp; เอกสารเพิ่มเติมอื่น เเล้วเเต่กรณี</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:0px;word-break:break-word;padding:15px 25px 10px 25px">
                            <span style="color:black;font-size:14px">
                                <b>- เอกสารเพื่อการสมัครเเบบบุคคลธรรมดา</b>
                            </span>
                            <table border="0" cellpadding="0" cellspacing="0"  style="font-size:14px;padding-top:10px;">
                                <tbody>
                                    <tr>
                                        <td  style="padding:7px 0px 10px 0px;">
                                           <p><dd style="text-indent: -7%;">1. &nbsp;&nbsp;&nbsp; สำเนาใบทะเบียนพาณิชย์** (ถ้ามี) เอกสารสำคัญขึ้นอยู่กับประเภทธุรกิจ <B style="color: red;">เอกสารสำคัญ**</B></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:7px 0px 10px 0px;">
                                            <p><dd style="text-indent: -7%;">2. &nbsp;&nbsp;&nbsp; ข้อมูลเจ้าของ/ผู้มีอำนาจลงนาม (ทุกราย) <B style="color: red;">เอกสารสำคัญ**</B></p>
                                            <p><dd style="text-indent: 0%;">- สำเนาบัตรประจำตัวประชาชนของผู้มีอำนาจลงนาม</p>
                                            <p><dd style="text-indent: 0%;">- กรณีเป็นชาวต่างชาติใช้สำเนาหนังสือเดินทางและใบขออนุญาตทำงานภายในประเทศ (work permit) ที่ยังไม่หมดอายุ</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:7px 0px 10px 0px;">
                                            <p><dd style="text-indent: -7%;">3. &nbsp;&nbsp;&nbsp; ข้อมูลที่อยู่ของเจ้าของ/ผู้มีอำนาจลงนาม (ทุกราย) <B style="color: red;">เอกสารสำคัญ**</B></p>
                                            <p><dd style="text-indent: 0%;">- สำเนาทะเบียนบ้านของผู้มีอำนาจลงนาม</p>
                                            <p><dd style="text-indent: 0%;">- กรณีเป็นชาวต่างชาติใช้ที่อยู่ในประเทศเจ้าของสัญชาติและที่อยู่ปัจจุบันในประเทศไทย</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:7px 0px 10px 0px;">
                                            <p><dd style="text-indent: -7%;">4. &nbsp;&nbsp;&nbsp; ข้อมูลสำหรับการโอนเงิน <B style="color: red;">เอกสารสำคัญ**</B></p>
                                            <p><dd style="text-indent: 0%;">- สำเนาหน้าสมุดบัญชีธนาคารที่มีข้อมูลชื่อบัญชี, เลขที่บัญชี</p>
                                            <p><dd style="text-indent: 0%;">- รายการบัญชีย้อนหลัง 3 เดือน</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:7px 0px 10px 0px;">
                                            <p><dd style="text-indent: -7%;">5. &nbsp;&nbsp;&nbsp; หลักฐานเพื่อประกอบการพิจารณาเพิ่มเติม  </p>
                                            <p><dd style="text-indent: 0%;">- ภาพสินค้าและหลักฐานการเป็นเจ้าของเว็บไซต์</p>
                                            <p><dd style="text-indent: 0%;">- แผนที่แสดงที่ตั้งของสถานประกอบการ</p>
                                            <p><dd style="text-indent: 0%;">- สัญญาเช่าพื้นที่ อายุไม่เกิน 6 เดือน (ถ้ามี)</p>
                                            <p><dd style="text-indent: 0%;">- กรณีสมัครในช่องทาง Social media โปรดแสดงหลักฐานการเป็นเจ้าของเพจ</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:7px 0px 10px 0px;">
                                            <p><dd style="text-indent: -7%;">6. &nbsp;&nbsp;&nbsp; เอกสารเพิ่มเติมอื่น เเล้วเเต่กรณี</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="font-size:0px;word-break:break-word;padding:30px 25px 0px 25px">
                            <div style="background-color:rgb(217 219 222);Margin:0px auto 40px auto;max-width:600px;height:2px;border-radius:3px"></div>
                            <p style="font-size:14px;color: gray;line-height: 20px;">
                                ขอขอบคุณอีกครั้งที่ให้ความไว้วางใจเลือกใช้บริการของ Pay Solutions และเราหวังว่าจะได้ให้บริการท่านเร็ว ๆ นี้
                            </p>
                            <p style="font-size:14px;color: gray;line-height: 25px;">
                                ทีมงาน Pay Solutions <br>
                                Tel. <a href="tel:02-821-6163" target="_blank" style="text-decoration:none;">02-821-6163 ต่อ 2</a><br><br>
                                ทีมขาย :<br>
                                Mobile: <a href="tel:090-198-4800" target="_blank" style="text-decoration:none;">090-198-4800</a> | <a href="tel:065-524-9951" target="_blank" style="text-decoration:none;">065-524-9951</a> <br>
                                LINE@: <a href="https://line.me/R/ti/p/@PaySolutions" target="_blank" style="text-decoration:none;">@PaySolutions</a><br>
                                E-Mail: <a href="mailto:sales@paysolutions.asia" target="_blank" style="text-decoration:none;">sales@paysolutions.asia</a> <br><br>
                                
                                ทีมบริการลูกค้า : <br> 
                                Mobile: <a href="tel:096-976-5394" target="_blank" style="text-decoration:none;">096-976-5394</a> | <a href="tel:097-158-5855" target="_blank" style="text-decoration:none;">097-158-5855</a> <br>
                                LINE@: <a href="https://line.me/R/ti/p/@pay.sn" target="_blank" style="text-decoration:none;">@pay.sn</a><br>
                                E-Mail: <a href="mailto:support@paysolutions.asia" target="_blank" style="text-decoration:none;">support@paysolutions.asia</a> <br><br>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- EN -->
            <div style="background:rgba(0,74,255,1);background-color:rgba(0,74,255,1);Margin:60px auto 0px auto;max-width:600px;height:3px;border-radius:3px"></div>
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%;background-color: white;">
                <tbody>
                    <tr>
                        <td style="font-size:0px;padding:25px 25px 25px 25px;word-break:break-word">
                            <span style="color:black;font-size:14px">
                                <b>Dear Valued Customer {{.Name}},</b>
                            </span>
                            <br>
                            <p style="font-size:14px;line-height: 20px;color: gray;margin-top: 20px;">
                                Thank you for your interest in and registration for Pay Solutions services. We have received your application information detail as below:
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table  border="0" cellpadding="0" cellspacing="0" style="background:#ffffff;background-color:#ffffff;width:100%;padding: 0px 25px 35px 25px;">
                <tbody>
                    <tr>
                        <td style="border: 1px solid #8080803d;padding: 15px;border-top-left-radius: 5px;border-top-right-radius: 5px;">
                            <p>
                                <span style="font-weight:500;font-size:14px;color:#333333">Merchant Information : &nbsp;</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid #8080803d;padding: 15px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;">
                            <table style="font-size:14px;">
                                <tr>
                                    <td style="width: 40%;">TempID :</td>
                                    <td style="width: 60%;">{{.TempID}}</td>
                                </tr>
                                <tr>
                                    <td>Full Name :</td>
                                    <td>{{.Name}}</td>
                                </tr>
                                <tr>
                                    <td>Phone Number :</td>
                                    <td>{{.Mobile}}</td>
                                </tr>
                                <tr>
                                    <td>E-Mail :</td>
                                    <td>{{.Email}}</td>
                                </tr>
                                <tr>
                                    <td>Business :</td>
                                    <td>{{.CategoryEN}}</td>
                                </tr>
                                <tr>
                                    <td>Website  :</td>
                                    <td>{{.Website}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:0px;padding:25px 0px 25px 0px;word-break:break-word">
                            <br>
                            <p style="font-size:14px;line-height: 20px;color: gray;margin-top: 20px;">
                                Please note that the Temp ID is only a reference for your service registration. Our team will contact you and send additional details via email soon.
                            </p>
                            <br>
                            <p style="font-size:14px;line-height: 20px;color: gray;margin-top: 20px;">
                                After your application is approved according to our service policy, you will receive a Merchant ID (MID) to upload the required documents through the Pay Solutions Control system.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table  border="0" cellpadding="0" cellspacing="0" style="background:#ffffff;background-color:#ffffff;width:100%;padding: 0px 25px 35px 25px;">
                <tbody>
                    <tr>
                        <td style="border: 1px solid rgba(0,74,255,1);background-color:rgba(0,74,255,1);padding: 15px;border-top-left-radius: 5px;border-top-right-radius: 5px;">
                            <p>
                                <span style="font-weight:400;font-size:14px;color:#ffffff">Activation Steps : </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border: 1px solid rgba(0,74,255,1);padding: 10px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;">
                            <table border="0" cellpadding="0" cellspacing="0" style="background:#ffffff;background-color:#ffffff;width:100%;padding: 0px 0px 0px 0px;">
                                <tbody>
                                    <tr style="text-align:center;vertical-align:top;">
                                        <td style="width:33%">
                                            <img src="https://cdn.paysolutions.io/icon-email/icon-process-1.png" style="width:75px;">
                                            <p style="font-weight:400;font-size:14px;color:#000000">Merchant Review and Document Preparation</p>
                                        </td>
                                        <td style="width:33%">
                                            <img src="https://cdn.paysolutions.io/icon-email/icon-process-2.png" style="width:75px;">
                                            <p style="font-weight:400;font-size:14px;color:#000000">When receiving MID, please submit documents via Pay Solutions Control System</p>
                                        </td>
                                        <td style="width:33%">
                                            <img src="https://cdn.paysolutions.io/icon-email/icon-process-3.png" style="width:75px;">
                                            <p style="font-weight:400;font-size:14px;color:#000000">Pay Solutions KYM process: Document review, approval, and contract signing for payment system activation</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table border="0" cellpadding="0" cellspacing="0" style="background:#ffffff;background-color:#ffffff;width:100%;">
                <tbody>
                    <tr>
                        <td style="font-size:0px;word-break:break-word;padding:0px 25px 10px 25px">
                            <span style="font-weight:600;font-size:17px;color:#333333">
                                Required Documents :
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:0px;word-break:break-word;padding:15px 25px 10px 25px">
                            <span style="color:black;font-size:14px">
                                <b>- Documents for approval (Juristic Person)</b>
                            </span>
                            <table border="0" cellpadding="0" cellspacing="0"  style="font-size:14px;padding-top:10px;">
                                <tbody>
                                    <tr>
                                        <td  style="padding:7px 0px 10px 0px;">
                                           <p><dd style="text-indent: -7%;">1. &nbsp;&nbsp;&nbsp; Copy of the certificate of registration of a company or limited partnership, letter of establishment of a general partnership, or letter of establishment of a group of persons,along with the purpose, which must have been registered not less than 6 months* (copy not more than 6 months) <B style="color: red;">(required document**)</B></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:7px 0px 10px 0px;">
                                            <p><dd style="text-indent: -7%;">2. &nbsp;&nbsp;&nbsp; Owner/Authorized Signatory Information (every person)  <B style="color: red;">(required document**)</B></p>
                                            <p><dd style="text-indent: 0%;">- Copy of identification card of the authorized signatory.</p>
                                            <p><dd style="text-indent: 0%;">- In the case of foreigners, use a copy of your passport and a valid work permit within the country (work permit).</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:7px 0px 10px 0px;">
                                            <p><dd style="text-indent: -7%;">3. &nbsp;&nbsp;&nbsp; Address information of the owner/authorized signatory (every person)<B style="color: red;">(required document**)</B></p>
                                            <p><dd style="text-indent: 0%;">- Copy of house registration of the authorized signatory.</p>
                                            <p><dd style="text-indent: 0%;">- In the case of a foreigner, use the address in the country of nationality and the current address in Thailand.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:7px 0px 10px 0px;">
                                            <p><dd style="text-indent: -7%;">4. &nbsp;&nbsp;&nbsp; Information for transferring money  <B style="color: red;">(required document**)</B></p>
                                            <p><dd style="text-indent: 0%;">- Copy of first page of bank account passbook with account name and account number</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:7px 0px 10px 0px;">
                                            <p><dd style="text-indent: -7%;">5. &nbsp;&nbsp;&nbsp; Evidence for further consideration</p>
                                            <p><dd style="text-indent: 0%;">- domain Product images and evidence of website domain ownership</p>
                                            <p><dd style="text-indent: 0%;">- Map showing the location of the establishment</p>
                                            <p><dd style="text-indent: 0%;">- Space rental contract, not more than 6 months (if any)</p>
                                            <p><dd style="text-indent: 0%;">- On social media channels, please show proof of page ownership.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:7px 0px 10px 0px;">
                                            <p><dd style="text-indent: -7%;">6. &nbsp;&nbsp;&nbsp; Other additional documents</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:0px;word-break:break-word;padding:15px 25px 10px 25px">
                            <span style="color:black;font-size:14px">
                                <b>- Documents for Individual :</b>
                            </span>
                            <table border="0" cellpadding="0" cellspacing="0"  style="font-size:14px;padding-top:10px;">
                                <tbody>
                                    <tr>
                                        <td  style="padding:7px 0px 10px 0px;">
                                           <p><dd style="text-indent: -7%;">1. &nbsp;&nbsp;&nbsp; Copy of commercial registration** (if any) depending on the type of business. <B style="color: red;">(required document**)</B></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:7px 0px 10px 0px;">
                                            <p><dd style="text-indent: -7%;">2. &nbsp;&nbsp;&nbsp; Owner/Authorized Signatory Information (every person) <B style="color: red;">(required document**)</B></p>
                                            <p><dd style="text-indent: 0%;">- Copy of identification card of the authorized signatory.</p>
                                            <p><dd style="text-indent: 0%;">- In the case of foreigners, use a copy of your passport and a valid work permit within the country (work permit).</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:7px 0px 10px 0px;">
                                            <p><dd style="text-indent: -7%;">3. &nbsp;&nbsp;&nbsp; Address information of the owner/authorized signatory (every person). <B style="color: red;">(required document**)</B></p>
                                            <p><dd style="text-indent: 0%;">- Copy of house registration of the authorized signatory.</p>
                                            <p><dd style="text-indent: 0%;">- In the case of a foreigner, use the address in the country of nationality and the current address in Thailand.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:7px 0px 10px 0px;">
                                            <p><dd style="text-indent: -7%;">4. &nbsp;&nbsp;&nbsp; Information for transferring money  <B style="color: red;">(required document**)</B></p>
                                            <p><dd style="text-indent: 0%;">- Copy of first page of bank account passbook with account name and account number</p>
                                            <p><dd style="text-indent: 0%;">- Accounting statements for the past 3 months</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:7px 0px 10px 0px;">
                                            <p><dd style="text-indent: -7%;">5. &nbsp;&nbsp;&nbsp; Evidence for further consideration</p>
                                            <p><dd style="text-indent: 0%;">- domain Product images and evidence of website domain ownership</p>
                                            <p><dd style="text-indent: 0%;">- Map showing the location of the establishment</p>
                                            <p><dd style="text-indent: 0%;">- Space rental contract, not more than 6 months (if any)</p>
                                            <p><dd style="text-indent: 0%;">- On social media channels, please show proof of page ownership.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:7px 0px 10px 0px;">
                                            <p><dd style="text-indent: -7%;">6. &nbsp;&nbsp;&nbsp; Other additional documents</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" style="font-size:0px;word-break:break-word;padding:30px 25px 0px 25px">
                            <div style="background-color:rgb(217 219 222);Margin:0px auto 40px auto;max-width:600px;height:2px;border-radius:3px"></div>
                            <p style="font-size:14px;color: gray;line-height: 20px;">
                                Once again, we thank you for choosing Pay Solutions services, and we look forward to serving you soon.
                            </p>
                            <p style="font-size:14px;color: gray;line-height: 25px;">
                                Pay Solutions Team <br>
                                Tel. <a href="tel:02-821-6163" target="_blank" style="text-decoration:none;">02-821-6163 ต่อ 2</a><br><br>
                                Sales Team :<br>
                                Mobile: <a href="tel:090-198-4800" target="_blank" style="text-decoration:none;">090-198-4800</a> | <a href="tel:065-524-9951" target="_blank" style="text-decoration:none;">065-524-9951</a> <br>
                                LINE@: <a href="https://line.me/R/ti/p/@PaySolutions" target="_blank" style="text-decoration:none;">@PaySolutions</a><br>
                                E-Mail: <a href="mailto:sales@paysolutions.asia" target="_blank" style="text-decoration:none;">sales@paysolutions.asia</a> <br><br>
                                
                                Customer Support Team : <br> 
                                Mobile: <a href="tel:096-976-5394" target="_blank" style="text-decoration:none;">096-976-5394</a> | <a href="tel:097-158-5855" target="_blank" style="text-decoration:none;">097-158-5855</a> <br>
                                LINE@: <a href="https://line.me/R/ti/p/@pay.sn" target="_blank" style="text-decoration:none;">@pay.sn</a><br>
                                E-Mail: <a href="mailto:support@paysolutions.asia" target="_blank" style="text-decoration:none;">support@paysolutions.asia</a> <br><br>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>


            <!-- Footer -->
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%;padding: 20px 30% 0px 30%;">
                <tbody>
                    <tr>
                        <td align="center"  style="font-size:0px;padding:0px 0px 0px 0px;word-break:break-word; width:30px;">
                            <a href="https://www.facebook.com/paysolutionsdotasia" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/paysolutionsdotasia&amp;source=gmail&amp;ust=1623383080430000&amp;usg=AFQjCNE33cctzAy96nGB5YlIZ2zQaGJ-ZQ">
                                <img alt="" src="https://se-payso-mail.s3-ap-southeast-1.amazonaws.com/facebook.png">
                            </a>
                        </td>
                        <td align="center"  style="font-size:0px;padding:0px 0px 0px 0px;word-break:break-word; width:30px;">
                            <a href="https://line.me/R/ti/p/@PaySolutions" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://line.me/R/ti/p/@PaySolutions&amp;source=gmail&amp;ust=1623383080430000&amp;usg=AFQjCNEKfJPL45I3fve90kju0o9X2ncfUQ">
                                <img alt="" src="https://se-payso-mail.s3-ap-southeast-1.amazonaws.com/line@.png">
                            </a>
                        </td>
                        <td align="center"  style="font-size:0px;padding:0px 0px 0px 0px;word-break:break-word; width:30px;">
                            <a href="https://www.instagram.com/paysolutions" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/paysolutions&amp;source=gmail&amp;ust=1623383080430000&amp;usg=AFQjCNEuk01wumIemG-u7W_NgddBAqKpew">
                                <img alt="" src="https://se-payso-mail.s3-ap-southeast-1.amazonaws.com/instagram.png">
                            </a>
                        </td>
                        <td align="center"  style="font-size:0px;padding:0px 0px 0px 0px;word-break:break-word; width:30px;">
                            <a href="https://twitter.com/paysolutionsth" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/paysolutionsth&amp;source=gmail&amp;ust=1623383080430000&amp;usg=AFQjCNGFyfsUYs1AiKFjzRERgU0nayTEIg">
                                <img alt="" src="https://se-payso-mail.s3-ap-southeast-1.amazonaws.com/twitter.png">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%;padding:20px 0px 0px 0px;color: gray; font-size: 14px;">
                <tbody>
                    <tr>
                        <td align="center">
                            <p style="font-size:14px">Pay Solutions Co., Ltd.</p>
                            <p style="font-size:14px">
                                90 CW Tower Building B, Floor 25, Unit B2502, Ratchadaphisek Road, Huay Kwang Sub-district, Huay Kwang District, Bangkok 10310
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:100%;padding-left: 50px;padding-right: 50px;">
                <tbody>
                    <tr>
                        <td align="center" style="padding: 5px 0px 40px 0px">
                            <p style="font-size: 14px;color: gray;margin: 0px;">
                                Website:
                                    <a style="color:#007bff;font-size:14px" href="https://www.paysolutions.asia" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.paysolutions.asia&amp;source=gmail&amp;ust=1623383080430000&amp;usg=AFQjCNFH0sZEPnUnGUq7CuWGF8GfJdgM5w">www.paysolutions.asia</a>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>